#chatD{
    text-align: center;
    background-color: rebeccapurple;
    padding:20px 10px;
    margin-top: 50px;
    border-radius: 50px;
    font-size: 30px;
}
body{
    
    background-color: rgb(50, 13, 87);
  
   
}
#totalDisplay{
    
    padding:40px 40px;
    height: 230px;
    margin:auto;
    margin-top: 50px;
    width:400px;
    background-color:  rgb(55, 11, 99);
    border-radius:30px;
}

#userLoggedin{
    list-style: none;
    color: white;
}

#message{
    width: 200px;
    height:30px;
    border-radius: 5px;
    margin-left: 40px;
    padding:1px 20px;
}

li{
    
    border-radius: 5px;
    margin-left: 60px;
    padding:5px 20px;
    color: aqua;

}

#submit{
    border-radius: 5px;
    border: 2px solid rebeccapurple;
    background-color: rebeccapurple;
    padding:8px 20px;
}

#functions{
    padding: 20px 50px;
    background-color: white;
    top:50%;
    right:5px;
}

#userList{
    list-style: none;
    padding:40px 40px;
    height: 130px;
    margin:auto;
    margin-top: 50px;
    width:200px;
    background-color:  rgb(55, 11, 99);
    border-radius:30px;
}



